/* Universal styles */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: rgb(37, 37, 37);
}

.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  background-color: rgb(245, 246, 247);
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: rgb(46, 121, 246);
  color: white;
  font-size: large;
  margin-top: 1rem;
}

// .navbar {
//   position: fixed;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: rgb(65, 65, 65);
// }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(65, 65, 65);
}

/* Small device */
@media only screen and (max-width: 480px) {
  .navbar__logo {
    height: 75px;
    padding: 1rem 0;
  }

  .navbar__nav-links {
    display: none;
  }

  .navbar__hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: rgb(245, 246, 247);
    margin: 6px 0;
  }

  .navbar__bottom-border {
    width: 100%;
  }

  .card {
    background-color: rgb(245, 246, 247);
    text-align: center;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 5px;
  }

  .intro-card__photo {
    width: 50%;
  }

  .responsive-card__photo {
    height: 150px;
  }

  .dev-card__photo {
    height: 150px;
  }

  .portfolio-card__photo {
    height: 150px;
  }
}
