/* Universal styles */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  background-color: rgb(245, 246, 247);
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: rgb(46, 121, 246);
  color: white;
  font-size: large;
  margin-top: 1rem;
}

/* Small device */
@media only screen and (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: rgb(245, 246, 247);
  }

  .navbar__logo {
    height: 75px;
    padding: 1rem 0;
  }

  .navbar__nav-links {
    display: none;
  }

  .navbar__hamburger-icon {
    cursor: pointer;
  }

  .navbar__hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .navbar__bottom-border {
    width: 100%;
  }

  .card {
    background-color: rgb(245, 246, 247);
    text-align: center;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 5px;
  }

  .intro-card__photo {
    width: 50%;
  }

  .responsive-card__photo {
    height: 150px;
  }
}
